/* body {
  background-color: var(--color);
} */

/* #container {
  display: flex;
  flex-direction: column;
  background-color: #eee;
}

#input {
  background-color: var(--color);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

#input input[type="text"] {
  background: none;
  border: none;
  / border-bottom: 1px solid white; /
  background-color: #fff5;
  border-radius: .5em;
  color: white;
  font-size: 1em;
  padding: 0.5em;
}

#config {
}

#qr {
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

#qr canvas {
  width: 250px;
  height: 250px;
} */