@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color: rgb(143, 0, 225);
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  position: relative;
  background-color: white;
}

#root {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  display: grid;
  /* Expand */
  grid-template-columns: 1fr;
}

/* #root {
  / max-width: 1280px; /
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr minmax(300px,1fr);
  min-height: 100vh;
}

@media (max-width: 768px) {
  #root {
    grid-template-columns: 1fr;
  }
} */